{% extends "base.html" %}

{% block title %}
home
{% endblock title %}


{% block content %}

<h1 class="text-center alert alert-danger mx-auto ">Show student information</h1>

{% if messages %}
{% for message in messages %}
{{ message}}
{% endfor %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <table class="table table-success table-striped">
                <thead>

                    <tr>
                        <th scope="col">SN</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">message</th>
                        <th scope="col">Action</th>
                    </tr>

                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.age}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.message}}</td>
                        <td>
                            <a href="{% url 'edit' i.id %}"><button class="btn btn-success"> <i
                                        class="fa-solid fa-pen-to-square "></i> Edit</button></a>
                            <a href="{% url 'delete' i.id %}"> <button class="btn btn-danger"><i
                                        class="fa-solid fa-trash "></i> Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
        <div class="col-2 ">
            <a href="{% url 'bin' %}"><button class="btn btn-success"> <i class="fa-solid fa-trash"></i>
                    Recyclebin</button></a>
        </div>
    </div>
</div>

</div>


{% endblock content %}